.note{
    width: 100vw;
    max-width: 237px;
    min-height: 190px;
    padding: 31.25px 23.437px;
    padding-top: 23.437px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.625px;
    border-radius: 11.719px;
    border: 1.465px solid var(--Gray-OUT, rgba(74, 74, 74, 0.25));
    background: var(--Gray, #ADADAD);
    margin: 1%;
    word-wrap: break-word;
}

.delete{
    float: right;
    border-radius: 100%;
    padding: 0.2rem;
    margin: -1rem;
}

.delete:hover{
    background-color: grey;
}

#imageUser{    
    width: 200px;
    height: 200px;
}